// ==========================================================================
// Tabela de Conteúdos:
// ==========================================================================

//
// # Header
// 		# Title + description
// 		# Navbar
// # Wrapper
// # Content
// # Sidebar and Widgets
// # Components
// 		# Fancy skip link
// 		# Pagination
// 		# Comments
// # Footer
//
html {
	overflow: auto;
}
html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
body {
	overflow-x: hidden;
}
body.logged-in.admin-bar {
	//margin-top: 32px;
	.navbar.fixed-top {
		margin-top: 32px;
		@media( max-width: 782px ) {
			margin-top: 46px;
		}
	}
}
a {
	color: #969696;
	&:hover {
		color: #000000;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	&.entry-title {
		text-transform: uppercase;
	}
}
img {
	height: auto;
	max-width: 100%;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}
.site {
	//margin-top: 52px;
}
.hfeed.site {
	overflow: hidden;
}

.entry-title {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
}

body.home {
	.wrap-logo {
		//padding: 290px 15px;
	}
}

// # Content
#content {
	//background: $branco;
	margin: 0 auto;
	max-width: 1280px;
	position: relative;
	z-index: 99;
	.entry-content {
		@media ( max-width: 1258px ) {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
}

// # Components
.btn {
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 0;
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px 15px;
	text-transform: uppercase;
	&:hover {
		border: 1px solid #eeeeee;
		color: #eeeeee;
	}
}

// # WhatsApp
.float-whatsapp {
	background: url( '../images/icon-whatsapp.png' ) center center no-repeat #00A700;
	background-size: auto 100%;
	bottom: 30px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	height: 60px;
	left: 30px;
	padding: 30px;
	position: fixed;
	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
	width: 60px;
	z-index: 999;
	-webkit-box-shadow: -3px 3px 8px 0px rgba(110,110,110,0.5);
	-moz-box-shadow: -3px 3px 8px 0px rgba(110,110,110,0.5);
	box-shadow: -3px 3px 8px 0px rgba(110,110,110,0.5);
	&:hover {
		bottom: 40px;
		text-decoration: none;
	}
	&.title-whatsapp-active {
		background-position: left center;
		background-size: auto 100%;
		color: $branco;
		padding: 18px 10px 10px 60px;
		width: auto;
	}
}

// # Footer
#footer {
	.container {
		color: $cinza-claro;
		max-width: 800px;
		padding-bottom: 30px;
		padding-top: 30px;
		.infos {
			padding-top: 75px;
		}
		.infos span {
			display: block;
			font-size: 16px;
			margin-bottom: 15px;
			width: 100%;
			&.telefone {
				background: url( '../images/phone.png' ) left center no-repeat;
				background-size: 30px;
				padding: 5px 15px 5px 45px;
			}
			&.email {
				background: url( '../images/mail.png' ) left center no-repeat;
				background-size: 30px;
				padding: 5px 15px 5px 45px;
			}
			&.instagram {
				background: url( '../images/instagram.png' ) left center no-repeat;
				background-size: 30px;
				padding: 5px 15px 5px 45px;
			}
		}
		a {
			color: $cinza-claro;
		}
		.wpcf7 {
			textarea {
				height: 100px;
			}
			input[ type="text" ],
			input[ type="email" ],
			textarea {
				background-color: #666;
				border: none;
				border-radius: 5px;
				color: #FFF;
				padding: 10px;
				width: 100%;
				&:focus {
					outline: none;
				}
				&::-webkit-input-placeholder /* Chrome/Opera/Safari */,
				&::-moz-placeholder,
				&:-ms-input-placeholder,
				&:-moz-placeholder {
					color: $cinza-claro;
				}
			}
			input[ type="submit" ] {
				background-color: #666;
				border: none;
				border-radius: 5px;
				color: #FFF;
				padding: 10px;
			}
		}
	}
}