// ==========================================================================
// Variáveis, Mixins e afins SASS/SCSS
// ==========================================================================

//
// Por exemplo, descomente a linha abaixo,
// e use a variável $brand-primary sempre que precisar da cor verde no CSS!
//

// $brand-primary: green;
$branco: #ffffff;
$cinza-claro: #f0f0f0;
$cinza-medio: #cccccc;
$cinza-escuro: #444444;
$preto: #000000;

@mixin transition( $transition ) {
	transition: $transition;
	-o-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-webkit-transition: $transition;
}
