.blog,
.category {
	#content {
		max-width: 100%;
		.loop {
			padding-top: 30px;
			a {
				color: #ffffff;
				text-decoration: none;
			}
			.each {
				background-color: #cccccc;
  				background-blend-mode: multiply;
  				background-size: cover;
				background-position: center;
				color: #ffffff;
				margin-bottom: 30px;
				min-height: 200px;
				overflow: hidden;
				padding: 0;
				position: relative;
				@include transition( all .45s ease-in-out );
				& > a {
					height: 100%;
					position: absolute;
					width: 100%;
					z-index: 9999;
				}
				@media ( max-width: 768px ) {
					background-color: #666666;
				}
				.inner {
					bottom: -45px;
					height: auto;
					opacity: 0.9;
					padding: 15px;
					position: absolute;
					@include transition( all .3s ease-in-out );
					width: 100%;
					h2 {
						margin-bottom: 0;
						padding-bottom: 25px;
						padding-top: 10px;
						position: relative;
					}
					.cat {
						opacity: 0.8;
						a {
							display: inherit;
						}
					}
					.meta {
						min-height: 25px;
						@include transition( all .45s ease-in-out );
						opacity: 0;
						@media ( max-width: 768px ) {
							margin-bottom: 15px;
							margin-top: -15px;
							opacity: 0.8;
						}
					}
					@media ( max-width: 768px ) {
						bottom: -10px;
					}
				}
				&:hover {
					background-color: #333333;
					.inner {
						bottom: -10px;
						h2 {
						}
						.meta {
							margin-bottom: 15px;
							margin-top: -15px;
							opacity: 0.8;
						}
					}
				}
			}
			.each-1 {
				min-height: 550px;
			}
			.each-2,
			.each-3 {
				min-height: 400px;				
			}
		}
	}
}