#comments {
    .comment-list {
        .comment-body {
            .comment-meta {
                font-size: 12px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }
}