/* Rodapé */
.footer-menu {
	background-color: #222222;
	text-align: center;
	ul {
		margin-bottom: 0;
		padding-left: 0;
		li {
			display: inline-block;
			list-style: none;
			padding: 15px;
			a {
				&:hover {
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}
}
footer.site-footer {
	background-color: $preto;
	color: $branco;
	padding-bottom: 80px;
    padding-top: 80px;
	text-align: center;
	.info {
		> p {
			margin-bottom: 0;
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}