/* Rodapé */
.footer-menu {
	background-color: rgba(6, 6, 6, 0.50);
	margin-bottom: -50px;
	position: relative;
	text-align: center;
	z-index: 99;
	ul {
		background: transparent;
		margin-bottom: 0;
		padding-left: 0;
		li {
			display: inline-block;
			list-style: none;
			padding: 15px;
			a {
				color: #dddddd;
				&:hover {
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}
}
footer.site-footer {
	background-color: $preto;
	color: $branco;
    padding-top: 0;
    position: relative;
	text-align: center;
	z-index: 0;
	&.footer-menu-active {
		padding-top: 50px;
	}
	.footer-widgets {
		padding-top: 50px;
	}
	.info {
		padding: 30px 0;
		> p {
			margin-bottom: 0;
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}