.heading-title {
    margin-top: 52px;
    padding-left: 15px;
    padding-right: 15px;
    &.parallax-window {
        height: auto !important;
        min-height: auto;
    }
    h1 {
        margin-bottom: 0;
    }
}