.home,
.page-template-template-frontpage {
	#content {
		max-width: 100%;
	}
	/* Sobre */
	#section-sobre {
		background-color: #ffffff;
		padding-bottom: 80px;
		padding-top: 80px;
		text-align: center;
	}
	/* Call to Action */
	#section-acao {
		text-align: center;
	}
	/* Diferenciais */
	#section-diferenciais {
		background-color: #ffffff;
		padding-bottom: 80px;
	    padding-top: 80px;
	    text-align: center;
	}
}