.page,
.single {
	#content {
		max-width: 100%;
	}
	.entry-content {
		padding: 60px 0 0;


		/* Forms */
		label {
			display: block
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		textarea {
			border: 1px solid $cinza-medio;
			display: block;
			padding: 10px 15px;
			width: 100%;
			&:focus {
				border: 1px solid $cinza-escuro;
				outline: none;
			}
		}
		input[type="submit"] {
			background-color: $cinza-escuro;
			border: 0;
			box-shadow: 0;
			color: $branco;
			padding: 10px 15px;
		}
	}
	#comments {
		ol.comment-list {
			padding-left: 0;
			li.comment {
				list-style: none;
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $cinza-claro;
			}
		}
	}
	#sidebar {
		padding-bottom: 50px;
		padding-top: 50px;
		.widget {
			border-bottom: 1px solid $cinza-claro;
			margin-bottom: 30px;
			padding-bottom: 30px;
			table {
				line-height: 2;
				width: 100%;
			}
			ul {
				padding-left: 20px;
				li {
					list-style-position: outside;
					list-style-type: circle;
					margin-bottom: 5px;
				}
			}
			.widget-title {
				margin-bottom: 15px;
			}
			.post-date {
				display: block;
				font-size: 0.8em;
			}
		}
	}
}