.parallax-window {
	align-items: center;
	display: flex;
	justify-content: center;
	min-heigth: 100%;
  	position: relative;
  	@media ( max-width: 767px ) {
  		z-index: 0;
  	}
	@media ( min-width: 768px ) {
		min-height: 450px;
	}
	.container {
		
	}
	.overlay {
		background-color: rgba(0,0,0,0.25);
  		height: 100%;
  		position: absolute;
  		top: 0;
  		width: 100%;
  		z-index: -1;
	}
}