.woocommerce {
    // Single product
    .single-product {
        // Beadcrumb
        .woocommerce-breadcrumb {

		}
	}
}
body.woocommerce-demo-store {
    .woocommerce-store-notice.demo_store {
        display: inline-block;
        border-radius: 50px;
        left: auto;
        padding: 15px 30px;
        position: fixed;
        right: 50px;
        top: 50px;
        width: auto;
    }
}
